/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 31/07/2017, 8:08:49 PM
    Author     : songminseok
*/

.topnav {
    background-color: black;
    overflow: hidden;
    z-index: 999;
    border: 0px none rgb(128, 128, 128);
    width: 100%;
    display: inline;
    position:fixed;
}

.mainTitle{
    color: white;
    text-align: center;
    width: auto;
    font-size: 25px;
}

.mainMenuSet{
    color: white;
    width: auto;
    font-size: 18px;
    position: absolute;
    right: 25%;
}

.userMenuSet{
    color: white;
    width: auto;
    font-size: 18px;
    position: absolute;
    right: 5%;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: white;
    padding: 16px 16px;
    text-decoration:  none;
}

/* Change the color of links on hover */
.topnav a:hover {
    /*background-color: #ddd;*/
    /*color: black;*/
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #4CAF50;
    color: white;
    text-decoration:  none;
}